<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Ritter Talent</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/Logo_Ritter_Talent.png" rel="icon" sizes="16x16">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

</head>

<body class="index-page">

  <header id="header" class="header fixed-top">

    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">marketing@rittertalent.com</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span>+62 8218 8517 436</span></i>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-cente">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
          <img src="assets/img/Logo_Ritter_Talent.png" alt="">
          <h1 class="sitename">Ritter Talent</h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="#hero" class="active">Home<br></a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#specials">Specials</a></li>
            <li><a href="#menu">Menu</a></li>
            </li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-book-a-table d-none d-xl-block" href="#book-a-table">Book a Table</a>

      </div>
    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <img src="assets/img/bg-utama.jpg" alt="" data-aos="fade-in">

      <div class="container">
        <div class="row">
          <div class="col-lg-8 d-flex flex-column align-items-center align-items-lg-start">
            <h2 data-aos="fade-up" data-aos-delay="100">Welcome to <span>Ritter Talent</span></h2>
            <p data-aos="fade-up" data-aos-delay="200">Kuliner Istimewa, 
              Harga Bersahabat!</p>
            <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
              <a href="#menu" class="cta-btn">Our Menu</a>
              <a href="#book-a-table" class="cta-btn">Book a Table</a>
            </div>
          </div>

          <!-- button to youtube -->
          <!-- <div class="col-lg-4 d-flex align-items-center justify-content-center mt-5 mt-lg-0">
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
          </div> -->

        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="assets/img/bg-1.jpg" class="img-fluid about-img" alt="" sizes="">
          </div>
          <div class="col-lg-6 order-2 order-lg-1 content">
            <h3>Selamat Datang di Ritter Talent </h3>
            <p class="fst-italic">
              Ritter Talent: Lebih dari Sekadar Makanan
            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> <span>Kelezatan Kuliner yang Unik</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Pelayanan yang Ramah dan Profesional</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Ritter Talent menawarkan menu yang beragam dengan pilihan hidangan untuk setiap selera. Dari masakan tradisional hingga kreasi kontemporer, setiap hidangan disiapkan dengan teliti dan penuh dedikasi.</span></li>
            </ul>
            <p>
              Selamat datang di Ritter Talent, tempat di mana setiap gigitan adalah petualangan rasa! Kami menggabungkan tradisi kuliner dengan inovasi modern, menciptakan hidangan yang menggugah selera dan menginspirasi. Dari bahan-bahan lokal yang segar hingga presentasi yang memukau, kami berkomitmen untuk memberikan pengalaman bersantap yang tak terlupakan. Ayo, bergabunglah dengan kami dan temukan keajaiban kuliner di setiap piring!
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Why Us Section -->
    <section id="why-us" class="why-us section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>WHY US</h2>
        <p>Why Choose Our Restaurant</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="card-item">
              <span>01</span>
              <h4><a href="" class="stretched-link">Kelezatan Autentik yang Menggugah Selera
              </a></h4>
              <p>Di Warung Ritter Talent, kami menghadirkan kelezatan autentik yang menggugah selera Anda. Setiap hidangan disiapkan dengan penuh cinta dan menggunakan resep tradisional yang telah diwariskan dari generasi ke generasi. Rasakan cita rasa asli yang tak tertandingi di setiap gigitan!</p>
            </div>
          </div><!-- Card Item -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="card-item">
              <span>02</span>
              <h4><a href="" class="stretched-link">Kelezatan Kuliner yang Unik
              </a></h4>
              <p>Kami bangga menyajikan hidangan yang tidak hanya lezat tetapi juga unik. Chef kami menggabungkan bahan-bahan berkualitas tinggi dengan teknik memasak modern untuk menciptakan cita rasa yang inovatif dan memuaskan. Setiap piring di Ritter Talent adalah sebuah karya seni kuliner yang dirancang untuk menggugah selera Anda.</p>
            </div>
          </div><!-- Card Item -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card-item">
              <span>03</span>
              <h4><a href="" class="stretched-link">Lokasi Strategis dan Mudah Dijangkau
              </a></h4>
              <p>Terletak di jantung kota, Ritter Talent mudah dijangkau dari berbagai arah. Lokasi strategis kami membuatnya nyaman untuk dikunjungi kapan saja, baik untuk makan siang bisnis, makan malam romantis, maupun pertemuan keluarga. Akses yang mudah dan parkir yang luas menjadikan Ritter Talent pilihan yang praktis dan ideal.</p>
            </div>
          </div><!-- Card Item -->

        </div>

      </div>
    </section><!-- /Why Us Section -->


<!-- Specials Section -->
    <section id="specials" class="specials section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Specials</h2>
        <p>Check Our Specials</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#specials-tab-1">Modi sit est</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-2">Unde praesentium sed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-3">Pariatur explicabo vel</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-4">Nostrum qui quasi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-5">Iusto ut expedita aut</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="specials-tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Architecto ut aperiam autem id</h3>
                    <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                    <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-1.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="specials-tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Et blanditiis nemo veritatis excepturi</h3>
                    <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                    <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt est. Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt eaque beatae accusamus lerode pakto madirna desera vafle de nideran pal</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-2.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="specials-tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                    <p class="fst-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
                    <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-3.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="specials-tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                    <p class="fst-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis delectus</p>
                    <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum inventore</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-4.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="specials-tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                    <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                    <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-5.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Specials Section -->


    <!-- Menu Section -->
    <section id="menu" class="menu section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Menu</h2>
        <p>Check Our Tasty Menu</p>
      </div><!-- End Section Title -->

      <div class="container isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul class="menu-filters isotope-filters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-ns-kuning">Nasi Kuning</li>
              <li data-filter=".filter-roti">Roti</li>
              <li data-filter=".filter-minuman">Minuman</li>
              <li data-filter=".filter-mie">Mie</li>
              <li data-filter=".filter-lain">lainnya</li>
            </ul>
          </div>
        </div><!-- Menu Filters -->

        <div class="row isotope-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 menu-item isotope-item filter-ns-kuning">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/711f2044-5d44-469a-993f-a91411c0b420_Go-Biz_20211111_231756.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Nasi Kuning Komplite</a><span>42.000</span>
            </div>
            <div class="menu-ingredients">
              Nasi + Sayur + Bihun + Ikan + Ayam + Telur + Perkedel
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-minuman">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/fc13852b-7a76-4052-94ca-2d05adebc105_Go-Biz_20211117_191906.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Nutrisari Ice
              </a><span>8.000</span>
            </div>
            <div class="menu-ingredients">
              Blewah, Sirsak, Leci, Jeruk Peras, Sweet Orange, Strawberry, Sweet Mango
            </div>
          </div><!-- Menu Item minuman -->

          <!-- nasi kuning -->
          <div class="col-lg-6 menu-item isotope-item filter-ns-kuning">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/711f2044-5d44-469a-993f-a91411c0b420_Go-Biz_20211111_231756.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Nasi Kuning Komplite</a><span>42.000</span>
            </div>
            <div class="menu-ingredients">
              Nasi + Sayur + Bihun + Ikan + Ayam + Telur + Perkedel
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-ns-kuning">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/8461add0-0ec4-42e9-99ca-5ecd380d8f2c_Go-Biz_20211112_215617.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Nasi Kuning Ikan Cakalang / Tongkol
              </a><span>24.000</span>
            </div>
            <div class="menu-ingredients">
              Nasi + Sayur + Bihun + Ikan
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-ns-kuning">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/46ecb38a-edec-46c0-9646-e065630a7c62_Go-Biz_20211112_215803.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Nasi Kuning Ayam
              </a><span>24.000</span>
            </div>
            <div class="menu-ingredients">
              Nasi + Sayur + Bihun + Ayam
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-lain">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/c8772b73-f30a-4e1d-a3ee-35909fb65790_Go-Biz_20211112_220132.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Ikan Cakalang/Tongkol</a><span>12.00</span>
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-ns-kuning">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/67c48e72-cec0-4e6e-8842-ca702c22f520_Go-Biz_20211112_220709.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Nasi Kuning</a><span>8.000</span>
            </div>
          </div><!-- Menu Item -->
          
          <div class="col-lg-6 menu-item isotope-item filter-roti">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/879c32e1-0e11-42d0-b6d1-aead2560414a_Go-Biz_20211111_210313.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Robaba Ovomaltine</a><span>20.000</span>
            </div>
            <div class="menu-ingredients">
              Roti Bakar Bandung Olesan Selai Coklat Ovomaltine
            </div>
          </div><!-- Menu Item roti -->
        
          <div class="col-lg-6 menu-item isotope-item filter-lain">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/611e16c4-28db-44ba-b209-a15b289f6ffa_Go-Biz_20211112_220329.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Telur Rebus
              </a><span>5.000</span>
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-lain">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/e53ab54d-7490-49d0-93af-24835c76dc85_Go-Biz_20211112_220536.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Perkedel</a><span>7.000</span>
            </div>
          </div><!-- Menu Item -->

          <div class="col-lg-6 menu-item isotope-item filter-lain">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/2d987131-4bcf-4084-8649-8e9542ac775f_Go-Biz_20211112_220428.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Ayam</a><span>12.000</span>
            </div>
          </div><!-- Menu Item -->

          <!-- Menu Roti 1 -->
          <div class="col-lg-6 menu-item isotope-item filter-roti">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/9a40e1be-9847-4da1-a6d6-048a40435f63_Go-Biz_20211111_210050.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Robaba Strawberry</a><span>15.000</span>
            </div>
            <div class="menu-ingredients">
              Roti Bakar Bandung Olesan Selai Strawberry
            </div>
          </div><!-- Menu Item -->
          
          <div class="col-lg-6 menu-item isotope-item filter-roti">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/caebc4f3-945e-4869-8f87-34274a128ec8_Go-Biz_20211111_210408.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Robaba Nutella</a><span>20.000</span>
            </div>
            <div class="menu-ingredients">
              Roti Bakar Bandung Olesan Selai Nutella
            </div>
          </div><!-- Menu Item nutella -->

          <div class="col-lg-6 menu-item isotope-item filter-lain">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/1e5a686f-a8b2-407b-bff0-806de97b9505_Go-Biz_20211111_212524.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Omelet Mie
              </a><span>16.000</span>
            </div>
            <div class="menu-ingredients">
              Omelet Telur + Mie
            </div>
          </div><!-- Menu Item Minuman -->

          <div class="col-lg-6 menu-item isotope-item filter-mie">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/b347bb3b-b934-40ec-9730-4d56811bf3c4_Go-Biz_20211116_222906.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Indomie Goreng Single
              </a><span>8.500</span>
            </div>
            <div class="menu-ingredients">
              1 Indomie Single
            </div>
          </div><!-- Menu Item indome-->

          <div class="col-lg-6 menu-item isotope-item filter-mie">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/b347bb3b-b934-40ec-9730-4d56811bf3c4_Go-Biz_20211116_222906.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Indomie Goreng Double
              </a><span>13.500</span>
            </div>
            <div class="menu-ingredients">
              2 Indomie 
            </div>
          </div><!-- Menu Item indome-->

          <div class="col-lg-6 menu-item isotope-item filter-mie">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/c3affff4-26c5-420d-8109-2fdbab926cb9_Go-Biz_20211116_223437.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Indomie kuah Single
              </a><span>8.500</span>
            </div>
            <div class="menu-ingredients">
              1 Indomie Kuah
            </div>
          </div><!-- Menu Item indome-->

          <div class="col-lg-6 menu-item isotope-item filter-mie">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/c3affff4-26c5-420d-8109-2fdbab926cb9_Go-Biz_20211116_223437.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Indomie Kuah Double
              </a><span>13.500</span>
            </div>
            <div class="menu-ingredients">
              2 Indomie Kuah
            </div>
          </div><!-- Menu Item indome-->







          
          <div class="col-lg-6 menu-item isotope-item filter-minuman">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/b2d21cf3-65e6-43c2-9507-a34e37c2a48c_Go-Biz_20211217_163330.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Milo 
              </a><span>11.000</span>
            </div>
            <div class="menu-ingredients">
              Milo + Susu Kental Manis<br>
              Panas / Dingin
            </div>
          </div><!-- Menu Item Minuman -->

          <div class="col-lg-6 menu-item isotope-item filter-minuman">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/376cdfbb-d26b-4be0-abf6-31e51fa902d8_Go-Biz_20211217_163536.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Ovaltine Ice
              </a><span>10.000</span>
            </div>
            <div class="menu-ingredients">
              Ovaltine + Susu Kental Manis
            </div>
          </div><!-- Menu Item Minuman -->

          <div class="col-lg-6 menu-item isotope-item filter-minuman">
            <img src="https://img.lazcdn.com/g/p/11dfea2c360568159f3afaf55bac24d8.png_960x960q80.png_.webp" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Ovaltine Ice
              </a><span>10.000</span>
            </div>
            <div class="menu-ingredients">
              Coffee Good Day
            </div>
          </div><!-- Menu Item Minuman -->

          <div class="col-lg-6 menu-item isotope-item filter-minuman">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/4873db7e-799c-49fb-a264-d496fe437081_Go-Biz_20211217_163742.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Good Day Freeze Ice
              </a><span>11.000</span>
            </div>
            <div class="menu-ingredients">
              Tambah Susu Kental Manis
            </div>
          </div><!-- Menu Item Minuman -->

          <div class="col-lg-6 menu-item isotope-item filter-minuman">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/c4ca726c-495a-437d-9bf8-8cf2fdb9c25d_Go-Biz_20211217_163916.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Good Day Cappucinno Ice
              </a><span>11.000</span>
            </div>
            <div class="menu-ingredients">
              Tambah Susu Kental Manis
            </div>
          </div><!-- Menu Item Minuman -->

          <div class="col-lg-6 menu-item isotope-item filter-minuman">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/c4ca726c-495a-437d-9bf8-8cf2fdb9c25d_Go-Biz_20211217_163916.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Good Day Cappucinno Ice
              </a><span>11.000</span>
            </div>
            <div class="menu-ingredients">
              Tambah Susu Kental Manis
            </div>
          </div><!-- Menu Item Minuman -->

          <div class="col-lg-6 menu-item isotope-item filter-minuman">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/e7c9f5dd-0565-44c2-8b99-e6d0057be798_Go-Biz_20211217_164018.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Lemon Tea Ice
              </a><span>10.000</span>
            </div>
            <div class="menu-ingredients">
              Lemon Tea </div>
          </div><!-- Menu Item Minuman -->

          <div class="col-lg-6 menu-item isotope-item filter-minuman">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/6291d145-0847-4a14-8c81-afda4aa2e380_Go-Biz_20211217_164103.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Es Teh Manis
              </a><span>7.000</span>
            </div>
            <div class="menu-ingredients">
              Teh Manis Panas / Dingin</div>
          </div><!-- Menu Item Minuman -->
          
          <div class="col-lg-6 menu-item isotope-item filter-minuman">
            <img src="https://dcostseafood.id/wp-content/uploads/2021/12/Teh-tawar-manis.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Teh Tawar
              </a><span>7.000</span>
            </div>
            <div class="menu-ingredients">
              Panas / Dingin  </div>
          </div><!-- Menu Item Minuman -->
         
          <div class="col-lg-6 menu-item isotope-item filter-minuman">
            <img src="https://s0.bukalapak.com/img/52611402331/large/data.png" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Es Susu Putih
              </a><span>10.000</span>
            </div>
            <div class="menu-ingredients">
              Susu Putih</div>
          </div><!-- Menu Item Minuman -->

          <div class="col-lg-6 menu-item isotope-item filter-minuman">
            <img src="https://img.lazcdn.com/g/p/1d6b67c8580dc7328421e5da08f9b8de.png_720x720q80.png" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">White Luwak Coffee 
              </a><span>10.000</span>
            </div>
            <div class="menu-ingredients">
               Panas / Dingin
            </div>
          </div><!-- Menu Item Minuman -->
         
          <div class="col-lg-6 menu-item isotope-item filter-minuman">
            <img src="https://down-id.img.susercontent.com/file/56a23dbbf943c3029abb1f7424ec306a" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Creamy Latte Ice
              </a><span>10.000</span> 
            </div>
          </div><!-- Menu Item Minuman -->
         
          
          <div class="col-lg-6 menu-item isotope-item filter-minuman">
            <img src="https://img.ws.mms.shopee.co.id/e1ed55097678a1571932e005fc14bc43" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Chocolato Ice
              </a><span>10.000</span>
            </div>
          </div><!-- Menu Item Minuman -->

          <div class="col-lg-6 menu-item isotope-item filter-minuman">
            <img src="https://down-id.img.susercontent.com/file/id-11134201-23030-oef8rspjlkovd3"  class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Susu Dancow
              </a><span>12.000</span>
            </div>
            <div class="menu-ingredients">
              Coklat, Vanilla ( Panas / Dingin)
            </div>
          </div><!-- Menu Item -->
          
          <div class="col-lg-6 menu-item isotope-item filter-lain">
            <img src="https://bnp.jambiprov.go.id/wp-content/uploads/2023/11/Manfaat-Telur-Ayam-Kampung-2.png" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Telur Ayam Kampung
              </a><span>9.000</span>
            </div>
            <div class="menu-ingredients">
              Telur ayam kampung 1/2 matang (1 butir telur ayam kampung) - lada, kecap asin
            </div>
          </div><!-- Menu Item Minuman -->
          
          <div class="col-lg-6 menu-item isotope-item filter-roti">
            <img src="https://down-id.img.susercontent.com/file/id-11134207-7r98s-lllngps27d5ida"  class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Robaba Choco Crunchy
              </a><span>18.000</span>
            </div>
            <div class="menu-ingredients">
              Roti Bakar Bandung Olesan Choco Chrunchy
            </div>
          </div><!-- Menu Item -->
          
          <div class="col-lg-6 menu-item isotope-item filter-roti">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/e4494ca0-8c63-41cc-bc48-8c0da53b9590_Go-Biz_20211111_210455.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Robaba Coklat</a><span>15.000</span>
            </div>
            <div class="menu-ingredients">
              Roti Bakar Bandung Olesan Selai Coklat
            </div>
          </div><!-- Menu Item -->
          
          <div class="col-lg-6 menu-item isotope-item filter-roti">
            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/9f90aff7-e2e4-4982-8c44-7537a62d0ae7_Go-Biz_20211111_210219.jpeg?auto=format" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Robaba Kacang</a><span>16.000</span>
            </div>
            <div class="menu-ingredients">
              Roti Bakar Bandung Olesan Selai Kacang
          </div><!-- Menu Item -->
          
          <div class="col-lg-6 menu-item isotope-item filter-roti">
            <img src="https://img.ws.mms.shopee.co.id/56693f9bb8ebe1ad7725ef9b2b320030" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Robaba Skippy
              </a><span>18.000</span>
            </div>
            <div class="menu-ingredients">
              Roti Bakar Bandung Olesan Choco Chrunchy
            </div>
          </div><!-- Menu Item -->










          <!-- end Menu random -->
        
        
        
        
        
        
        
        
        
        
        
        </div><!-- Menu Container -->
      </div>
    </section><!-- /Menu Section -->






    <!-- Penawaran Terbatas Section -->
    <section id="events" class="events section">

      <img class="slider-bg" src="assets/img/events-bg.jpg" alt="" data-aos="fade-in">

      <div class="container">

        <div class="swiper init-swiper" data-aos="fade-up" data-aos-delay="100">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="row gy-4 event-item">
                <div class="col-lg-6">
                  <img src="assets/img/events-slider/events-slider-1.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Birthday Parties</h3>
                  <div class="price">
                    <p><span>$189</span></p>
                  </div>
                  <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                  </p>
                  <ul>
                    <li><i class="bi bi-check2-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
                  </ul>
                  <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur
                  </p>
                </div>
              </div>
            </div><!-- End Slider item -->

            <div class="swiper-slide">
              <div class="row gy-4 event-item">
                <div class="col-lg-6">
                  <img src="assets/img/events-slider/events-slider-2.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Private Parties</h3>
                  <div class="price">
                    <p><span>$290</span></p>
                  </div>
                  <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                  </p>
                  <ul>
                    <li><i class="bi bi-check2-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
                  </ul>
                  <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur
                  </p>
                </div>
              </div>
            </div><!-- End Slider item -->

            <div class="swiper-slide">
              <div class="row gy-4 event-item">
                <div class="col-lg-6">
                  <img src="assets/img/events-slider/events-slider-3.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Custom Parties</h3>
                  <div class="price">
                    <p><span>$99</span></p>
                  </div>
                  <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                  </p>
                  <ul>
                    <li><i class="bi bi-check2-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
                  </ul>
                  <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur
                  </p>
                </div>
              </div>
            </div><!-- End Slider item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Events Section -->

    <!-- Book A Table Section -->
    <section id="book-a-table" class="book-a-table section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>RESERVATION</h2>
        <p>Book a Table</p>
      </div><!-- End Section Title -->

      <div class="container">

        <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form">
          <div class="row gy-4">
            <div class="col-lg-4 col-md-6">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="">
            </div>
            <div class="col-lg-4 col-md-6">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
            </div>
            <div class="col-lg-4 col-md-6">
              <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" required="">
            </div>
            <div class="col-lg-4 col-md-6">
              <input type="date" name="date" class="form-control" id="date" placeholder="Date" required="">
            </div>
            <div class="col-lg-4 col-md-6">
              <input type="time" class="form-control" name="time" id="time" placeholder="Time" required="">
            </div>
            <div class="col-lg-4 col-md-6">
              <input type="number" class="form-control" name="people" id="people" placeholder="# of people" required="">
            </div>
          </div>
          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Book a Table</button></div>
        </form>

      </div>
    
    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </div><!-- End Section Title -->

      <div class="mb-5" data-aos="fade-up" data-aos-delay="200">
        <iframe style="border:0; width: 100%; height: 400px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d247.9192338504682!2d106.7848456!3d-6.1698746!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f65afa1b68a3%3A0x647879f5ebbe7083!2sRopang%20talent!5e0!3m2!1sid!2sid!4v1718559511628!5m2!1sid!2sid" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div><!-- End Google Maps -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Location</h3>
                <p>Jl. Tj. Duren Utara IIIF No.32, Kec. Grogol Petamburan, Jakarta Barat</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Open Hours</h3>
                <p>Monday-Saturday:<br>00:00 - 23:59</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+62 822 6004 5686</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>marketing@rittertalent.com</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->
        </div>
      </div>
    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">Ritter Telent</span>
          </a>
          <div class="footer-contact pt-3">
            <p>Jl. Tj. Duren Utara IIIF No.32,</p>
            <p>Kec. Grogol Petamburan, Jakarta Barat</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+62 8218 8517 436
            </span></p>
            <p><strong>Email:</strong> <span>marketing@rittertalent.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
          <form action="forms/newsletter.php" method="post" class="php-email-form">
            <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your subscription request has been sent. Thank you!</div>
          </form>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Ritter Talent</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- Teams : <br>
        Jessica Ho / 535220187<br>
        Aulia Dwi / 535220178<br>
        Lufika Ayu / 535220223<br>
        Parveen Uzma / 535220226<br> -->

        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>