root.css
/* Fonts */
:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Playfair Display",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
}

/* aa */
/* Global Colors*/

:root { 
  --background-color: #e7e7e7; /* Background color */
  --default-color: rgba(0, 0, 0, 0.7); /* Text content */
  --heading-color: #000000; /* Headings, subheadings and title */
  --accent-color: #e45050; /* Buttons, links, and other elements that need to stand out */
  --contrast-color: #ffeded; /*For elements when the background color is one of the heading, accent, or default colors. */
}

/* Nav Menu Colors */
:root {
  --nav-color: #e45050;  /* navmenu links */
  --nav-hover-color: #000000; /* hovered color */
  --nav-before: #711515;
}

/* Footer */
:root{
  --footer-color: #0c0b09;
  --footer-text: #ffffff;
  --footer-hover: #c84343;
  --heading-footer: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.invoice {
    width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.invoice-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #333;
    padding-bottom: 20px;
}

.logo h1 {
    margin: 0;
    font-size: 36px;
}

.logo p {
    margin: 0;
    font-size: 14px;
}

.contact-info {
    text-align: right;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-item img {
    width: 20px;
    margin-right: 10px;
}

.invoice-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #333;
}

.invoice-to p {
    margin: 0;
    font-size: 14px;
}

.invoice-details p {
    margin: 0;
    font-size: 14px;
    text-align: right;
    margin-bottom: 10px;
}

.invoice-details p:first-child {
    font-size: 24px;
    font-weight: bold;
}

.invoice-items table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.invoice-items th,
.invoice-items td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.invoice-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.payment-method {
    width: 50%;
}

.payment-method p {
    margin-bottom: 10px;
    font-size: 14px;
}

.totals {
    width: 50%;
    text-align: right;
}

.totals p {
    margin-bottom: 10px;
    font-size: 14px;
}

.totals p span {
    font-weight: bold;
}

.btn {
    background-color: black;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
}