/* Fonts */
:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Playfair Display",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
}

/* aa */
/* Global Colors*/

:root { 
  --background-color: #e7e7e7; /* Background color */
  --default-color: rgba(0, 0, 0, 0.7); /* Text content */
  --heading-color: #000000; /* Headings, subheadings and title */
  --accent-color: #e45050; /* Buttons, links, and other elements that need to stand out */
  --contrast-color: #ffeded; /*For elements when the background color is one of the heading, accent, or default colors. */
}

/* Nav Menu Colors */
:root {
  --nav-color: #e45050;  /* navmenu links */
  --nav-hover-color: #000000; /* hovered color */
  --nav-before: #711515;
}

/* Footer */
:root{
  --footer-color: #0c0b09;
  --footer-text: #ffffff;
  --footer-hover: #c84343;
  --heading-footer: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}


/* not used */
/*:root { 
  /*--background-color: #0c0b09; /* Background color */
  /*--default-color: rgba(255, 255, 255, 0.7); /* Text content */
  /*--heading-color: #ffffff; /* Headings, subheadings and title */
  /*--accent-color: #D4BFB6; /* Buttons, links, and other elements that need to stand out */
  /*--contrast-color: #27211a; /*For elements when the background color is one of the heading, accent, or default colors. */
/* } */